{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/morestyles.css' %}">
</head>
<body class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500" >
    <section class="flex flex-col justify-center items-center">
        <h1 class="text-white text-3xl font-semibold text-center mt-6 mb-6">Hi thank you for being a valuable customer!<br> Before moving you in we need some info to adjust your workspace</h1>
        <div class="p-10 m-20 shadow-2xl rounded-lg w-30 ">
            <form action="company_details/" method="post">
                {% csrf_token %}
                <h1 class='mb-4 text-white text-2xl'>Enter Company Details</h1>
                {% for field in form %}
                <div class="mb-4">
                    <label for="{{ field.id_for_label }}" class="text-white">{{ field.label }}</label>
                    <br>
                    {{ field }}
                    {% if field.errors %}
                        <p class="text-red-500">{{ field.errors|join:", " }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                <button class="bg-blue-500 shadow-xl pt-2 p-2 rounded-md text-white mt-3 mb-4" type='submit'>Submit</button>
            </form>
        </div>
    </section>
    
</body>
</html>